   <!-- Footer section --> 
   <section id="contact" class="footer_wrapper wrapper">
    <div class="container pb-3">
        <div class="row">
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Clinic Location</h5>
                <p class="ps-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis dignissim erat ut
                    laoreet
                    pharetra....</p>
                <div class="contact-info">
                    <ul class="list-unstyled p-0">
                        <li><a href="#"><i class="fa fa-home me-3"></i> IEM Hospital, Kolkata</a></li>
                        <li><a href="#"><i class="fa fa-phone me-3"></i>+913432214567</a></li>
                        <li><a href="#"><i class="fa fa-envelope me-3"></i>info@example.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>More Links</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Office</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Our Store</a></li>
                    <li><a href="#">Guarantee</a></li>
                    <li><a href="#">Buy Gift Card</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4">
                <h5>More Links</h5>
                <ul class="link-widget p-0">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Our Office</a></li>
                    <li><a href="#">Delivery</a></li>
                    <li><a href="#">Our Store</a></li>
                    <li><a href="#">Guarantee</a></li>
                    <li><a href="#">Buy Gift Card</a></li>
                    <li><a href="#">Return Policy</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-6 mb-4">
                <h5>Newsletter</h5>
                <div class="form-group mb-4">
                    <input type="email" class="form-control bg-transparent" placeholder="Enter Your Email Here">
                    <button type="submit" class="main-btn rounded-2 mt-3 border-white text-white">Subscribe</button>
                </div>
                <h5>Stay Connected</h5>
                <ul class="social-network d-flex align-items-center p-0 ">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                    <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                </ul>
            </div>



        </div>
    </div>
    <div class="container-fluid copyright-section">
        <p class="p-0">Copyright <a href="#">©  INITIAL-BIT.</a> All Rights Reserved</p>
    </div>
</section>

<!-- Footer section exit -->

<!-- Bootstrap 5 JS CDN Links -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

<!-- Custom Js Link -->
<script src="js/script.js"></script>
</body>

</html>
